<div class="card mb-3">
  <h2 class="card-header h4">
    My Wish #<%= my_wish.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= my_wish.user_id %></dd>
      <!-- Display user_id end -->

      <dt>Gift</dt>
      <!-- Display gift_id start -->
      <dd><%= my_wish.gift_id %></dd>
      <!-- Display gift_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back my_wish, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link my_wish start -->
      <div class="col">
        <% if current_user == @my_wish.user %>
          <%= link_to edit_my_wish_url(my_wish), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link my_wish end -->

      <!-- Delete link my_wish start -->
      <div class="col">
        <% if current_user == @my_wish.user %>
          <%= link_to my_wish, method: :delete, data: { confirm: "Do you really want to delete this my_wish?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link my_wish end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(my_wish.updated_at) %> ago
  </div>
</div>
