<% was_validated = my_wish.errors.any? %>

<%= form_with(model: my_wish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = my_wish.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% my_wish.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for gift_id start -->
  <div class="form-group">
    <% gift_class = "form-control" %>
    <% gift_was_invalid = my_wish.errors.include?(:gift) %>

    <% if was_validated %>
      <% if gift_was_invalid %>
        <% gift_class << " is-invalid" %>
      <% else %>
        <% gift_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :gift_id %>
    <!-- Input for gift_id start -->
    <%= f.number_field :gift_id, class: gift_class, placeholder: "Enter gift" %>
    <!-- Input for gift_id end -->
    <% if gift_was_invalid %>
      <% my_wish.errors.full_messages_for(:gift).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for gift_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
