<% was_validated = store.errors.any? %>

<%= form_with(model: store, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% store_name_class = "form-control" %>
    <% store_name_was_invalid = store.errors.include?(:store_name) %>

    <% if was_validated %>
      <% if store_name_was_invalid %>
        <% store_name_class << " is-invalid" %>
      <% else %>
        <% store_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :store_name %>
    <%= f.text_field :store_name, class: store_name_class, placeholder: "Enter store name" %>
    <% if store_name_was_invalid %>
      <% store.errors.full_messages_for(:store_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% address_class = "form-control" %>
    <% address_was_invalid = store.errors.include?(:address) %>

    <% if was_validated %>
      <% if address_was_invalid %>
        <% address_class << " is-invalid" %>
      <% else %>
        <% address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :address %>
    <%= f.text_field :address, class: address_class, placeholder: "Enter address" %>
    <% if address_was_invalid %>
      <% store.errors.full_messages_for(:address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% phone_number_class = "form-control" %>
    <% phone_number_was_invalid = store.errors.include?(:phone_number) %>

    <% if was_validated %>
      <% if phone_number_was_invalid %>
        <% phone_number_class << " is-invalid" %>
      <% else %>
        <% phone_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: phone_number_class, placeholder: "Enter phone number" %>
    <% if phone_number_was_invalid %>
      <% store.errors.full_messages_for(:phone_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
