<div class="card mb-3">
  <h2 class="card-header h4">
    Gift #<%= gift.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Gift name</dt>
      <!-- Display gift_name start -->
      <dd><%= gift.gift_name %></dd>
      <!-- Display gift_name end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= gift.description %></dd>
      <!-- Display description end -->

      <dt>Photo</dt>
      <!-- Display photo start -->
      <dd>
        <%= cl_image_tag @gift.photo, class: "img-fluid" %>
      </dd>
      <!-- Display photo end -->

      <dt>Store</dt>
      <!-- Display store_id start -->
      <dd>
        <% if @gift.store.present? %>
          <%= link_to gift.store, gift.store %>
        <% end %>
      </dd>
      <!-- Display store_id end -->

      <dt>Category</dt>
      <!-- Display category_id start -->
      <dd>
        <% if @gift.category.present? %>
          <%= link_to gift.category, gift.category %>
        <% end %>
      </dd>
      <!-- Display category_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back gift, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link gift start -->
      <div class="col">
        <%= link_to edit_gift_url(gift), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link gift end -->

      <!-- Delete link gift start -->
      <div class="col">
        <%= link_to gift, method: :delete, data: { confirm: "Do you really want to delete this gift?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link gift end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(gift.updated_at) %> ago
  </div>
</div>
