<!-- Form giftlist start -->
<%= form_with(model: @giftlist, local: true) do |f| %>
<!-- Form giftlist end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for friend_name start -->
  <div class="form-group">
    <%= f.label :friend_name %>

    <!-- Input for friend_name start -->
    <%= f.text_field :friend_name, class: "form-control" %>
    <!-- Input for friend_name end -->
  </div>
  <!-- Label and input for friend_name end -->

  <!-- Label and input for gift_id start -->
  <!-- Input for gift_id start -->
  <%= f.hidden_field :gift_id, value: @gift.id %>
  <!-- Input for gift_id end -->
  <!-- Label and input for gift_id end -->

  <%= f.submit "Create giftlist", class: "btn btn-block btn-outline-secondary" %>
<% end %>
