<!-- Form my_wish start -->
<%= form_with(model: @my_wish, local: true) do |f| %>
<!-- Form my_wish end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for gift_id start -->
  <!-- Input for gift_id start -->
  <%= f.hidden_field :gift_id, value: @gift.id %>
  <!-- Input for gift_id end -->
  <!-- Label and input for gift_id end -->

  <%= f.submit "Create my wish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
