<%= form_with(model: @giftlist, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :friend_name %>

    <%= f.text_field :friend_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :gift_id, value: @gift.id %>

  <%= f.submit "Create giftlist", class: "btn btn-block btn-outline-secondary" %>
<% end %>
